NEXT_PUBLIC_APP_NAME=BitzenX
NEXT_PUBLIC_CHAIN_MODE=mainnet
NEXT_PUBLIC_BSC_RPC_URL=https://bsc-dataseed.binance.org
NEXT_PUBLIC_ETH_RPC_URL=https://ethereum.publicnode.com
NEXT_PUBLIC_POLYGON_RPC_URL=https://polygon-rpc.com
NEXT_PUBLIC_ARBITRUM_RPC_URL=https://arb1.arbitrum.io/rpc
NEXT_PUBLIC_OPTIMISM_RPC_URL=https://mainnet.optimism.io
NEXT_PUBLIC_AVALANCHE_RPC_URL=https://api.avax.network/ext/bc/C/rpc
NEXT_PUBLIC_BSC_CHAIN_ID=56
NEXT_PUBLIC_USDT_BEP20_ADDRESS=0x55d398326f99059fF775485246999027B3197955
NEXT_PUBLIC_BSCSCAN_URL=https://bscscan.com
NEXT_PUBLIC_RECHARGE_PROVIDER=api
NEXT_PUBLIC_MARKETS_PROVIDER=api
