.next
node_modules
.env
.env.*
!.env.example
!.env.production.example
server/.env
server/.env.*
!server/.env.production.example
contracts/.env
contracts/.env.*
!contracts/.env.example
dist
out
server/dist
*.tsbuildinfo
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
