BSC_MAINNET_RPC_URL=
BSC_TESTNET_RPC_URL=
BSCSCAN_API_KEY=
DEPLOYER_PRIVATE_KEY=
OWNER_ADDRESS=
TREASURY_ADDRESS=
USDT_TOKEN_ADDRESS=
HB_REFERRAL_REGISTRY_ADDRESS=
HB_TREASURY_SPLITTER_ADDRESS=
HB_INCOME_DISTRIBUTOR_ADDRESS=
HB_PACKAGE_MANAGER_ADDRESS=
